* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../../images/news_bg.png);
    background-position: center;
    background-size: cover;
    font-family: 'Roboto', sans-serif !important;
    letter-spacing: 1px;
}

.navbar {
    font-family: 'Roboto', sans-serif !important;
    letter-spacing: 1px;
}

html {
    height: 100%;
}

.form-head-sec {
    border: 1px solid #07838d;
    border-radius: 5px;
}

/*Background color*/
#grad1 {
    background-color: #9c27b0;
    background-image: linear-gradient(120deg, #ff4081, #81d4fa);
}

/*form styles*/
#msform {
    text-align: center;
    position: relative;
    /* margin-top: 20px; */
}

#msform fieldset .form-card {
    background: white;
    border: 0 none;
    border-radius: 0px;
    /* box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2); */
    padding: 15px;
    box-sizing: border-box;
    width: 100%;
    /* margin: 0 3% 20px 3%; */

    /*stacking fieldsets above each other*/
    position: relative;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;

    /*stacking fieldsets above each other*/
    position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

#msform fieldset .form-card {
    text-align: left;
    color: #9e9e9e;
}

#msform input,
#msform textarea {
    padding: 6px 8px 4px 8px;
    border: none;
    border-bottom: 1px solid #07838c;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    /* font-family: montserrat; */
    color: #2c3e50;
    font-size: 0.95rem;
    letter-spacing: 1px;
}

#msform input[type="radio"].custom-radio {
    width: 3%;
}

.c-text {
    line-height: 1.5 !important;
}

#msform input:focus,
#msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none;
    font-weight: bold;
    border-bottom: 1px solid #07838c;
    outline-width: 0;
}

/*Blue Buttons*/
#msform .action-button {
    width: 9rem;
    background: rgb(6, 130, 140) !important;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 15px 0px;
    font-size: 1rem;
    border-radius: 5px;
}

#msform .action-button:hover,
#msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #07838d;
}

/*Previous Buttons*/
#msform .action-button-previous {
    width: 9rem;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #616161;
}

/*Dropdown List Exp Date*/
select.list-dt {
    border: none;
    outline: 0;
    border-bottom: 1px solid #ccc;
    padding: 2px 5px 3px 5px;
    margin: 2px;
}

select.list-dt:focus {
    border-bottom: 2px solid skyblue;
}

/*The background card*/
.card {
    z-index: 0;
    border: none;
    border-radius: 0.5rem;
    position: relative;
}

/*FieldSet headings*/
.fs-title {
    font-size: 1.6rem;
    color: #08838d;
    margin-bottom: 24px;
    font-weight: bold;
    text-align: left;
}

/*progressbar*/
#progressbar {
    margin: 0.5rem 1rem;
    padding: 0;
    overflow: hidden;
    color: #adaaaa;
}

#progressbar .active {
    color: #000000;
}

#progressbar li {
    list-style-type: none;
    font-size: 12px;
    width: 25%;
    float: left;
    position: relative;
}

/*Icons in the ProgressBar*/
#progressbar #step-1:before {
    font-family: FontAwesome;
    content: "\f023";
}

#progressbar #step-2:before {
    font-family: FontAwesome;
    content: "\f007";
}

#progressbar #step-3:before {
    font-family: FontAwesome;
    content: "\f09d";
}

#progressbar #step-4:before {
    font-family: FontAwesome;
    content: "\f00c";
}

/*ProgressBar before any progress*/
#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 18px;
    color: #ffffff;
    background: #adaaaa;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px;
}

/*ProgressBar connectors*/
#progressbar li:after {
    content: "";
    width: 100%;
    height: 2px;
    background: #adaaaa;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1;
}

/*Color number of the step and the connector before it*/
#progressbar li.active:before,
#progressbar li.active:after {
    background: skyblue;
}

/*Imaged Radio Buttons*/
.radio-group {
    position: relative;
    margin-bottom: 25px;
}

.radio {
    display: inline-block;
    width: 204;
    height: 104;
    border-radius: 0;
    background: lightblue;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    cursor: pointer;
    margin: 8px 2px;
}

.radio:hover {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.radio.selected {
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
}

/*Fit image in bootstrap div*/
.fit-image {
    width: 100%;
    object-fit: cover;
}

/* 04-08 */
.main-panel {
    margin-bottom: 3rem;
}

.border {
    /* border: 1px solid #08848d !important; */
}

.form-group label {
    color: #000;
    margin-top: 0.5rem;
    margin-bottom: 0.3rem;
    font-weight: 500;
    font-size: 1.05rem;
}

.form-group .form-select {
    border-color: #31b3b0;
    font-size: 0.95rem;
}

.form-group .form-select:focus {
    box-shadow: none;
}

#msform input.btn {
    padding: 4px 8px !important;
    color: #fff !important;
    margin-top: 3px !important;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 1px solid;
    margin-bottom: 3px !important;
    width: 75px;
}

#msform input[type="radio"] {
    width: 15px !important;
    height: 15px !important;
    margin-top: 12px !important;
    margin-bottom: 10px !important;
}

.main-panel h4 {
    font-size: 1.4rem;
    color: #118c93;
    font-weight: 700;
}

.table,
th,
td {
    border: 1px solid #08848e !important;
}

.table thead th {
    font-size: 1.05rem;
}

.table tbody td,
th {
    font-size: 0.95rem;
}

.step-table tbody td {
    padding: 0;
}

span.text-danger {
    font-weight: 700;
}

.download-btn {
    background: #128c93;
    color: #fff;
    border: 1px solid #128c93;
    /* margin-right: 1.2rem !important; */
    margin-top: 1.5rem;
    font-weight: 700;
}

.download-btn img {
    height: 2rem;
}

.table td .btn img {
    height: 1.8rem;
}

.table td .btn {
    padding: 0;
}

/*  */
.form-head {
    margin-top: 7rem;
}

#progressbar {
    /* margin-bottom: 30px; */
    overflow: hidden;
    color: #adaaaa;
}

#progressbar .active {
    color: #07838d;
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 25%;
    float: left;
    text-align: center;
    position: relative;
    font-weight: 400;
}

#progressbar #step-1:before {
    background-image: url("../../images/education.svg");
    background-repeat: no-repeat;
    background-position: center;
}

#progressbar #step-2:before {
    background-image: url("../../images/experience.svg");
    background-repeat: no-repeat;
    background-position: center;
}

#progressbar #step-3:before {
    background-image: url("../../images/work.svg");
    background-repeat: no-repeat;
    background-position: center;
}

#progressbar #step-4:before {
    background-image: url("../../images/upload.svg");
    background-repeat: no-repeat;
    background-position: center;
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 0;
    color: #ffffff;
    background: #adaaaa;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px;
}

.card-body {
    box-shadow: 0px 3px 12px #00000029;
}

#progressbar li:after {
    content: "";
    width: 100%;
    height: 2px;
    background: #adaaaa;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1;
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #07838d;
}

.progress {
    height: 20px;
}

.progress-bar {
    background-color: #07838d;
}

.img-wrapper {
    height: 6rem;
    display: flex;
    align-items: center;
}

.custom-add .action-button {
    width: 100% !important;
    padding: 6px 5px !important;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu.navbar-dropdown {
    left: 88%;
    width: 5rem;
    margin-left: 0 !important;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu.navbar-dropdown .dropdown-item {
    /* font-size: 1.2rem !important; */
    color: #07838c;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #ffffff !important;
    background-color: #08848d !important;
}

.note-txt {
    margin-top: -1rem;
}

.note-txt2 {
    margin-top: -1rem;
    font-size: 0.8rem;
    font-weight: 600;
}

.navbar li.custom-dropdown {
    position: unset !important;
}

.heading .content {
    margin-left: 6rem;

}