.dt-buttons {
    float: left;
    margin-top: 58px;
    margin-left: -167px;
    margin-bottom: 12px;
}

.dt-buttons button {
    padding: 2px;
    background-color: #08848e;
    color: #fff;
}

.heading {
    color: #08848e;
}

a {
    text-decoration: none;
}

.current {
    padding: 2px !important;
}

.bg-blue {
    background-color: #347ab7;
}

.bg-green {
    background-color: #42b622;
}

.panel {
    border-radius: 10px;
    border: 1px solid;
}

.panel span {
    color: #fff;
    font-size: 3.5rem;
}

.panel.blue {
    border-color: #1072c7;
}

.panel.blue p {
    color: #0060b3;
}

.panel.green p {
    color: #23a500;
}

.panel.green {
    border-color: #26b100;
}

.panel-heading {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 1rem 0.5rem;
}

.panel-footer {
    padding: 0.5rem;
}

.panel-footer p {
    font-size: 0.95rem;
    font-weight: 500;
}

.panel-sec {
    margin-bottom: 2rem;
}

.sidebar {
    /* background: url('../images/sidebar2.jpg'); */
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 250px;
    padding: 10px 0;
    background: #FFF;
    /* background-color: #E4E9F7; */
    border-right: 1px dotted #07838d;
    transition: all 0.3s ease;
    z-index: 2;
}

.sidebar ul li {
    list-style: none;
}

.sidebar .nav-link.active,
.sidebar .nav-link:hover {
    background: #07838d;
    color: #fff;
    border-bottom: 1px dotted #fff;
}

.sidebar .nav-link {
    color: #07838c;
    border-bottom: 1px dotted #07838d;
}

.sidebar .dropdown-menu {
    width: 100%;
    padding: 0;
    border: 1px dotted #07838d;
}

.sidebar .dropdown-menu li a:last-child {
    border-bottom: none;
}

.sidebar .dropdown-menu li a {
    border-bottom: 1px dotted #07838d;
}

#main {
    width: calc(100% - 250px);
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    /* background-color: #E4E9F7; */
    transition: all 0.3s ease;
}

#DataTables_Table_0_length label {
    margin: 1rem 0;
}