.dt-buttons {
    float: left;
    margin-top: 42px;
    margin-left: -149px;
    margin-bottom: 20px;
}

.dt-buttons button {
    padding: 2px;
    background-color: #08848e;
    color: #fff;
}

.heading {
    color: #08848e;
}

.current {
    padding: 2px !important;
}